In [1]:
import mysql.connector as sql
import pandas as pd

In [2]:
# to establish database connection
mydb = sql.connect(
host="localhost",
user="root",
password="robin0786", #"apka password"
database="kamna"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022493E8AA70>

In [3]:
# to create cursor object
mycursor=mydb.cursor()

In [4]:
mycursor.execute("SELECT * FROM table_1")
for i in mycursor:
    print(i)

('C', 10.0, 'Gujarat', 13.21)
('Python', 60.0, 'Delhi', 22.68)
('React', 80.0, 'Punjab', 32.78)
('AI', 50.0, 'MP', 56.49)
('C++', 30.0, 'UP', 76.12)
('PHP', 80.0, 'Kerala', 80.89)

In [5]:
mycursor.execute("SELECT * FROM table_2")
for i in mycursor:
    print(i)

('Gujarat', 'React', 80.0)
('Delhi', 'Python', 30.0)
('Punjab', 'PHP', 40.0)
('MP', 'C', 50.0)
('UP', 'C++', 60.0)
('Kerala', 'React', 40.0)

In [6]:
df1 = pd.read_sql("select * from table_1",mydb)
df1

C:\Users\hp\AppData\Local\Temp\ipykernel_13608\2554046082.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df1 = pd.read_sql("select * from table_1",mydb)

  language  uses_percentage    state  market_value
0        C             10.0  Gujarat         13.21
1   Python             60.0    Delhi         22.68
2    React             80.0   Punjab         32.78
3       AI             50.0       MP         56.49
4      C++             30.0       UP         76.12
5      PHP             80.0   Kerala         80.89

In [7]:
df2 = pd.read_sql("select * from table_2",mydb)
df2

C:\Users\hp\AppData\Local\Temp\ipykernel_13608\3958328483.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df2 = pd.read_sql("select * from table_2",mydb)

     state language_used  percentage
0  Gujarat         React        80.0
1    Delhi        Python        30.0
2   Punjab           PHP        40.0
3       MP             C        50.0
4       UP           C++        60.0
5   Kerala         React        40.0

In [8]:
df3 = pd.merge(df1,df2)
df3

  language  uses_percentage    state  market_value language_used  percentage
0        C             10.0  Gujarat         13.21         React        80.0
1   Python             60.0    Delhi         22.68        Python        30.0
2    React             80.0   Punjab         32.78           PHP        40.0
3       AI             50.0       MP         56.49             C        50.0
4      C++             30.0       UP         76.12           C++        60.0
5      PHP             80.0   Kerala         80.89         React        40.0